html {
    font-size: 100%;
    /* https://developers.google.com/web/updates/2015/10/tap-to-search */
    -webkit-user-select: none
}

body {
    background-color: #E0F5EA;
    margin: 0;
}

.landing-page{
    max-width: 1200px;

    margin: 0 auto;
    padding: 4em 5em;
    padding-bottom: 0;
}

.zh {
    font-family: 'Noto Sans SC', sans-serif;
}

.en {
    font-family: 'Fira Code', monospace;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.title {
    color: #FFA1A1;
}

.title h1 {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    font-weight: 500;
}

.cmd-container {
    display: flex;
    color: #FFA1A1;
}

.cmd {
    margin-left: 2.5em;
}

.cmd:hover {
    cursor: pointer;
}

#github{
    transform: translateY(-3px);
}

@media (max-width: 972px){
    .landing-page{
        padding: 1em 0
    }

    #github{
        transform: translateY(1px);
    }
    
    
    header {
        flex-direction: column;
    }

    .title {
        text-align: center;
    }

    .title h1 {
        font-size: 2.5rem;
    }


    .cmd-container {
        margin-top: 2em;
        width: 100%;
        justify-content: space-between;
    }

    .cmd {
        margin: auto;
    }

}

main {
    display: flex;
    color: #32D6B8;
    margin-top: 2em;
    align-items: flex-start;
    justify-content: space-between;
}

.center__word {
    font-size: 10rem;
}


#center {
    width: 55%;
    margin-top: 10em;
}

#suggestion-container {
    width: 40%;
    margin-bottom: 0;
    box-sizing: border-box;
    overflow: scroll;
    max-height: 80vh;
    /* TODO: eliminate vertical scroll in low viewports */
    -ms-overflow-style: none;  /* IE and Edge (hide scrollbar)*/
    scrollbar-width: none;  /* Firefox (hide scrollbar)*/
}

#suggestion-container::-webkit-scrollbar {
    display: none;
}

.suggestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.suggestion__word {
    font-size: 4rem;
    margin-left: auto;
    text-align: right;
    white-space: nowrap;
}

.suggestion__word:hover {
    cursor: pointer;
}

.suggestion .meta {
    font-size: 0.75rem;
}

.pinyin {
    font-weight: bold;
}

.hidden-meta {
    display: none
}

.hidden {
    display: none
}

@media (max-width: 972px){
    main {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    #center {
        width: 100%;
        margin-top: 0;
        text-align: center;
    }

    #suggestion-container {
        width: 100%;
        display: flex;
        align-items: baseline;
        margin-top: 3em;
    }

    .suggestion {
        flex-direction: column-reverse;
        margin: 0;
        margin-right: 1em;
    }


    .center__word {
        font-size: 6rem;
        white-space: nowrap;
        overflow: scroll;
    }

    .suggestion__word {
        font-size: 3rem;
        text-align: center;
        white-space: nowrap;
    }

    .suggestion .meta {
        font-size: 1em;
        text-align: center;
    }

    .suggestion .meta .pinyin {
        white-space: nowrap;
    }

    .suggestion .meta .translation {
        display: none;
    }

    .hidden-meta {
        display: block;
    }

}

.overlay{
    background-color:rgba(0, 0, 0, 0.838);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
    padding: 2em;
    box-sizing: border-box;
    color: white;
}

.overlay-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 1px;
    margin-top: 5em;
}

.setting {
    margin-top: 2em;
}

.setting-title {
    font-size: 2rem;
    margin-bottom: 0.5em;    
}

#hsk-level-slider {
    width: 100%;
}
