section {
    color: #32D6B8;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 1em;
    height: calc(100vh - 155px);
    overflow-y: scroll;
}

section h2 {
    margin-top: 2em;
}

section a {
    color: #FFA1A1;
    text-decoration: none;
}