#hsk-level-slider {
    width: 100%;
}

.setting {
    margin: 2em;
}

label {
    font-size: 1.5em;
}

label:hover, input:hover {
    cursor: pointer;
}

section button {
    font-size: 1.5em;
    color: #FFA1A1;
}

input[type="radio"] {
    display:none;   
}

input[type="radio"] + label{
    opacity: 0.35;
    margin-right: 1em;
}

input[type="radio"]:checked + label {
    opacity: 1.0;
}

#hskLevels {
    display: flex;
    justify-content: space-between;
}